util.java.jar

src/main/webapp/WEB-INF/classes
src/main/webapp/WEB-INF/lib
src/main/webapp/WEB-INF/log
src/main/webapp/WEB-INF/tmp
src/main/webapp/WEB-INF/work

webapp.root_IS_UNDEFINED/

target/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
